body {
	padding: 20px;
}

.only-320-block {
	display: none;
}

// Header title block
.main-title {
	height: 87px;
}

.main-title__title {
    font-size: 38px;
}

.main-title__h-line {
    margin-top: 55px;
    margin-left: 23px;
}

.main-image__date-block {
    top: 10px;
    left: 10px;
}

.main-image {
    height: 286px;
}

// Pics block
.pic-block {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	//border: 1px solid #696989;
	padding-top: 10px;
}
.pic-block__item {
	display: inline-block;
	//border: 1px solid #696989;
	width: 19%;
    height: 54px;
    margin-bottom: 3px;
    overflow: hidden;
}

.pic-block__item-big {
	display: inline-block;
	float: right;
	//border: 1px solid #696989;
	width: 36%;
	height: 221px;
}

.clear,
.clear:before,
.clear:after{
	content:"";
	display:block;
	clear:both;
}

.pagination-list {
	text-align: center;
	padding-top: 19px;
	margin-left: -35px;
}

.pagination-list__item {
    width: 40px;
}